language: python
python:
- 3.6
install: pip install -U tox-travis
script: tox
deploy:
  provider: pypi
  distributions: sdist bdist_wheel
  user: albertomarin-pypi
  password:
    secure: CJCcMlOBOo9+gEnonrQXE2g3aUHUr2cXiySFOoUGBQiVdWOfLDe76Df8uSAREcWL3j2kMFUHAf1vvLKDvV2XWpa3beez0I1h8DHATNQ9OhHyjeNkOzYn5SG5l6QuwP2lHqTDhM7aJXubnhm/xC4jCdf7y+7/6kf1cZF3uaFONAmzzQ7tHT2Mc4HjwxnQ9qS6t3r/CSbrPesPLp6pbaJXzy1ViY4b6Girg/clpq9AetY+NPvCQN9TeGCjemOAnT7cxW4FGA5iAQ/Uwr52PZY6Aj6sVdiB4eLp+S+MwhoEXoxX1mZkU9IZo0ySNkV23kz61qpANBdH/v0O7NDLhdO8HO58JH7sbtB0FmnXudD5EFjsYhKByLybyIwfAL4A4709Q0VWoT02dt1GNJgkfXg5EGPn1K2AJyF3qwQ4jgPUk06odLvKO+APq/0WNKXD1bhpY8DhpoecaTG7gxswwJJqiwS7/YdBpDXy8dnJ7OxJuQcAPtMGOum2ixZ9AgltmU+Z/7KUgn/0Cmw0FIUvn+nILYbmogtN+j8KJP0g+X4Pga8UOkUqYJMmjGmIM/iQOgmjWpZOuf5cUEvdgDqukFhvvkjpfBV/DtjRbrW0ZvE0+drzAkjsJ7lhf9kokwj/CvCevlrWSejpU6g2Xt44qITPOgjUOMUgLv+O5w0bxIBRuPY=
  on:
    tags: true
    python: 3.6
