[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bump2version = "==0.5.11"
wheel = "==0.33.6"
watchdog = "==0.9.0"
flake8 = "==3.7.9"
tox = "==3.14.2"
coverage = "==5.0"
sphinx = "==2.3.0"
twine = "==3.1.1"
codecov = "==2.0.15"
click = "==7.0"
pre-commit = "==1.20.0"
pytest = "==5.3.1"
pytest-runner = "==5.2"
pytest-cov = "==2.8.1"


[packages]
