[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bump2version = "==1.0.0"
wheel = "==0.35.0"
watchdog = "==0.10.3"
flake8 = "==3.8.3"
tox = "==3.19.0"
coverage = "==5.2.1"
sphinx = "==3.2.0"
twine = "==3.2.0"
codecov = "==2.1.8"
click = "==7.1.2"
pre-commit = "==2.6.0"
pytest = "==6.0.1"
pytest-runner = "==5.2"
pytest-cov = "==2.10.0"


[packages]
