[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bump2version = "==0.5.10"
watchdog = "==0.9.0"
flake8 = "==3.5.0"
tox = "==3.5.2"
coverage = "==4.5.1"
sphinx = "==1.8.1"
twine = "==1.12.1"
click = "==7.0"
pytest = "==3.8.2"
pytest-runner = "==4.2"
pytest-cov = "==2.6.0"
codecov = "==2.0.15"

[packages]

[requires]
python_version = "3.6"
