bump2version==0.5.10
wheel==0.33.4
watchdog==0.9.0
flake8==3.7.7
tox==3.10.0
coverage==4.5.3
Sphinx==2.0.1
twine==1.13.0
codecov==2.0.15
click==7.0
pre-commit==1.16.1

pytest==4.5.0
pytest-runner==4.4
pytest-cov==2.6.1
